/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(69, 209, 190);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.Container{
 display: flex;
}
.Container > div {
 border: 5px solid rgb(223, 38, 115);
 padding: 10px;
}
.Column1, .Column2, .Column3 {
 flex: 1;
}
.Column1 {
 background-color: rgba(164, 52, 192, 0.932);
}
.Column2 {
 background-color: rgba(55, 219, 219, 0.863);
}
.Column3 {
 background-color: rgb(231, 159, 222);
}
@media (max-width: 768px){
 .Container{
 flex-direction: column;
 }
}